<!-- ============== SECTION CONTENT ============== -->
<section class="padding-y">
  <div class="container">

    <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
      <p style="color: white"> carregando...</p>
    </ngx-spinner>

    <div class="row">
      <aside class="col-lg-3">

        <button class="btn btn-outline-secondary mb-3 w-100  d-lg-none" data-bs-toggle="collapse"
          data-bs-target="#aside_filter">Show filter</button>

        <!-- ===== Card for sidebar filter ===== -->
        <div id="aside_filter" class="collapse card d-lg-block mb-5">

          <article class="filter-group">
            <header class="card-header">
              <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside_brands">
                <i class="icon-control fa fa-chevron-down"></i> Tipo Produto
              </a>
            </header>
            <div class="collapse show" id="collapse_aside_brands">
              <div class="card-body">
                <div *ngFor="let tipo of tipoProdutos">
                  <label class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="tipo.id"
                      (change)="getTipoProdutoId($event, tipo.id)">
                    <span class="form-check-label"> {{tipo.nome}} </span>
                  </label> <!-- form-check end.// -->
                </div>
              </div> <!-- card-body .// -->
            </div> <!-- collapse.// -->
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside_brands">
                <i class="icon-control fa fa-chevron-down"></i> Marcas
              </a>
            </header>
            <div class="collapse show" id="collapse_aside_brands">
              <div class="card-body">
                <div *ngFor="let marca of marcas">
                  <label class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="marca.id"
                    (change)="getMarcaId($event, marca.id)">
                    <span class="form-check-label"> {{marca.nome}} </span>
                  </label> <!-- form-check end.// -->
                </div>
              </div> <!-- card-body .// -->
            </div> <!-- collapse.// -->
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside2">
                <i class="icon-control fa fa-chevron-down"></i> Preço
              </a>
            </header>
            <div class="collapse show" id="collapse_aside2">
              <div class="card-body">
                <input type="range" class="form-range" min="0" max="100">
                <div class="row mb-3">
                  <div class="col-6">
                    <label for="min" class="form-label">Min</label>
                    <input class="form-control" id="min" placeholder="$0" type="number">
                  </div> <!-- col end.// -->

                  <div class="col-6">
                    <label for="max" class="form-label">Max</label>
                    <input class="form-control" id="max" placeholder="$1,0000" type="number">
                  </div> <!-- col end.// -->
                </div> <!-- row end.// -->
                <button class="btn btn-light w-100" type="button">Aplicar</button>
              </div> <!-- card-body.// -->
            </div> <!-- collapse.// -->
          </article> <!-- filter-group // -->

          <article class="filter-group">
            <header class="card-header">
              <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside3">
                <i class="icon-control fa fa-chevron-down"></i> Tamanho
              </a>
            </header>
            <div class="collapse show" id="collapse_aside3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3" *ngFor="let tamanho of tamanhos">
                    <label class="checkbox-btn">
                      <input type="checkbox" value="tamanho.id">
                      <span class="btn btn-light"> {{tamanho.nome}} </span>
                    </label>
                  </div>
                </div>

              </div> <!-- card-body.// -->
            </div> <!-- collapse.// -->
          </article> <!-- filter-group // -->
        </div> <!-- card.// -->
        <!-- ===== Card for sidebar filter .// ===== -->

      </aside> <!-- col .// -->
      <main class="col-lg-9">

        <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
          <div class="col-lg-1">
            <strong class="d-block py-2">{{produtos.length}} Itens </strong>
          </div>

          <div class="col-lg-8 col-md-12 col-12">
            <form action="#" class="">
              <div class="input-group">
                <input type="search" [formControl]="query" class="form-control" style="width:60%" placeholder="Search">
                <button class="btn btn-primary">
                  <i class="fa fa-search"></i>
                </button>
                </div>
            </form>
          </div>
          <div class="ms-auto col-lg-2 ml-auto">
            <select class="form-select d-inline-block w-auto me-1">
              <option value="1">Recomendado</option>
              <option value="0">Maior Valor</option>
              <option value="2">Menor Valor</option>
            </select>
          </div>
        </header>

        <!-- ========= content items ========= -->
        <div class="row figura">
          <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let produto of produtos">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <img src="{{imagens}}{{produto.imagem}}">
              </div>
              <figcaption class="info-wrap border-top" style="height: 200px;">
                <h5>
                  <div class="price-wrap">
                    <div *ngIf="produto.tipoDesconto != 0">
                      <del class="price-old">{{produto.valorTotal | currency: "BRL":"symbol":"1.2-2":"pt" }}</del>
                    </div>
                    <div *ngIf="produto.tipoDesconto == 0">
                      <br>
                    </div>
                    <strong class="price">{{produto.valorVenda | currency: "BRL":"symbol":"1.2-2":"pt" }}</strong>
                  </div>
                </h5>
                <p class="title mb-2"> {{produto.descricao}}</p>
                <a href="https://wa.me/5543984835077?text=Olá! Tenho interesse no produto '{{produto.descricao}}'"
                  class="btn btn-primary">Falar com vendedor(a)</a>
              </figcaption>
            </figure>
          </div>
        </div>

        <hr>
        <!-- <ngb-pagination [collectionSize]="paged.totalResults" [(page)]="page" [boundaryLinks]="true" (pageChange)="pageChanged($event)"></ngb-pagination> -->

        <ngb-pagination (pageChange)="pageChanged($event)" [pageSize]="pageSize" [(page)]="page" [maxSize]="10"
          [rotate]="true" [collectionSize]="paged.totalResults" [boundaryLinks]="true"></ngb-pagination>


      </main>
    </div>

  </div>
</section>
